.bg-full {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.bg-image-forest {
    background-image: url(../img/path-of-exile-concept-art-forest.jpg);
}
.bg-image-beach {
    background-image: url(../img/path-of-exile-concept-art-beach.jpg);
}
.bg-image-sarn {
    background-image: url(../img/path-of-exile-concept-art-sarn.jpg);
}